CompileFlags:
  CompilationDatabase: Matcha/build/debug

Diagnostics:
  Suppress:
    - pp_file_not_found
  ClangTidy:
    Remove:
      - modernize-avoid-c-arrays
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - cppcoreguidelines-avoid-non-const-global-variables
      - readability-identifier-naming
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
      - cert-dcl58-cpp

---

If:
  PathMatch: .*/Tests/.*
Diagnostics:
  ClangTidy:
    Remove:
      - google-build-using-namespace
      - cppcoreguidelines-owning-memory
      - cppcoreguidelines-pro-type-reinterpret-cast
      - cppcoreguidelines-avoid-do-while
      - readability-function-cognitive-complexity
      - cert-dcl03-c
      - misc-use-anonymous-namespace

---

If:
  PathMatch: .*/Tests/TestUtils/doctest\.h
Diagnostics:
  Suppress: '*'

---

If:
  PathMatch: .*/Tests/Widget/.*
Diagnostics:
  ClangTidy:
    Remove:
      - readability-convert-member-functions-to-static
      - bugprone-suspicious-include

---

If:
  PathMatch: .*/old/.*
Diagnostics:
  Suppress: '*'

---

If:
  PathMatch: .*/NyanGuis/.*
Diagnostics:
  Suppress: '*'

---

If:
  PathMatch: .*/Loading/.*
Diagnostics:
  Suppress: '*'

---

If:
  PathMatch: .*/AppFramework/.*
Diagnostics:
  Suppress: '*'

---

If:
  PathMatch: .*/NyanEditorPlugin/.*
Diagnostics:
  Suppress: '*'

---

If:
  PathMatch: .*/NyanExpansionPlugin/.*
Diagnostics:
  Suppress: '*'
